body {
	margin: 0;
	background-color: dimgray;
	font-family: "Myriad Pro",Myriad,sans-serif;
}

#builder-container {
	height: 100vh;
	width: 40%;
	display: flex;
	position: relative;
	margin: auto;
}

#board-container {
	z-index: 3;
	margin: auto;
	position: relative;
	background-color: rgba(220, 220, 220, 0.6);
	box-shadow: 0 0 25px -3px rgb(20,20,20);
}
#board-container.pause {
	filter: blur(1em);
	z-index: 0;
}

.theboard {
	padding: 20px;
	transform: scale(1.2);
	/* border: 1px solid rgba(60, 60, 60, 0.3); */
	background-color: rgba(240, 240, 240, 0.2);
	box-shadow: 0 0 25px 0px rgb(20,20,20);
}

#boardrender {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
#boardrender .board-cell:nth-child(2n):nth-child(-n+8),
#boardrender .board-cell:nth-child(2n+9):nth-child(-n+15),
#boardrender .board-cell:nth-child(2n+18):nth-child(-n+25),
#boardrender .board-cell:nth-child(2n+25):nth-child(-n+31),
#boardrender .board-cell:nth-child(2n+34):nth-child(-n+40),
#boardrender .board-cell:nth-child(2n+41):nth-child(-n+47),
#boardrender .board-cell:nth-child(2n+50):nth-child(-n+56),
#boardrender .board-cell:nth-child(2n+57):nth-child(-n+63) {
	/* background-color: burlywood; */
	background-color: rgba(200, 200, 200, 0.95);
}
#boardrender .board-cell:nth-child(2n-1):nth-child(-n+8),
#boardrender .board-cell:nth-child(2n+10):nth-child(-n+16),
#boardrender .board-cell:nth-child(2n+17):nth-child(-n+24),
#boardrender .board-cell:nth-child(2n+26):nth-child(-n+33),
#boardrender .board-cell:nth-child(2n+33):nth-child(-n+40),
#boardrender .board-cell:nth-child(2n+42):nth-child(-n+49),
#boardrender .board-cell:nth-child(2n+49):nth-child(-n+56),
#boardrender .board-cell:nth-child(2n+58):nth-child(-n+64) {
	/* background-color: saddlebrown; */
	background-color: rgba(103, 111, 123, 0.95);
}

.board-cell {
    width: 12.5%;
	/* height: 6.25vw; */
	height: 4.75vw;
    -webkit-user-select: none;       
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor:pointer;
}
.indexu {
    width: 70%;
    height: 70%;
    border-radius: 50%;
    margin: 15% auto;
    vertical-align: middle;
	text-align: center;
	color: transparent !important;
}
.indexu.playerone {
    background-color: darkred;
    color: white;
}
.indexu.playerone.B {
	background-color: red !important;
}
.indexu.playertwo {
    background-color: black;
    color: white;
}
.indexu.playertwo.B {
	background-color: gray !important;
}
.indexu.selected {
	box-shadow: 0px 0px 40px 25px #fafafa !important;
	opacity: 0.8;
}

#topbar {
	display: flex;
	flex-direction: row;
	position: relative;
	margin-bottom: 110px;
	height: 96px;
	background-color: rgba(220, 220, 220, 0.9);
}

	#topbar #topbar-left {
		padding: 0 5%;
		display: flex;
	}
	#topbar #topbar-left.playerone {
		background-color: darkred;
		color: white;
	}
	#topbar #topbar-left.playertwo {
		background-color: black;
		color: white;
	}

		#topbar #topbar-left #topbar-left-inner {
			margin: auto;
			font-size: 28px;
		}

	#topbar #topbar-right {
		display: flex;
		flex-grow: 1;
		flex-wrap: wrap;
		padding: 10px 10%;
	}

		#topbar-right .row {
			margin: auto;
			padding: 0 5px;
			font-size: 20px;
		}

#bottombar {
	height: 120px;
	width: 100%;
}



/*   BUILDER   */

#effectboard-filter {
	z-index: 2;
	/* background-color: rgba(255, 255, 255, 0.4); */
	filter: blur(1em);
	width: 100%;
	height: 100%;
	position: absolute;
}

.effectboard-sq {
	z-index: 1;
	width: 100px;
	height: 100px;
	position: absolute;
	background-color: rgba(124, 130, 139, 0.8);
	filter: blur(0.25em);
	animation-timing-function: ease-in-out;
	animation-play-state: running;
}

#effectsq1 {
	top: 5%;
	left: 25%;
	animation: sqone 0.75s infinite;
}

#effectsq2 {
	top: 50%;
	right: 20%;
	animation: sqtwo 1.4s infinite;
}

#effectsq3 {
	bottom: 10%;
	left: 7%;
	animation: sqthree 0.4s infinite;
}

@keyframes sqone {
	0% {transform: scale(1);}
	50% {transform: scale(1.6);}
	100% {transform: scale(1);}
}

@keyframes sqtwo {
	0% {transform: scale(1.5);}
	25% {transform: scale(2.5);}
	75% {transform: scale(1);}
}

@keyframes sqthree {
	0% {transform: scale(0.75);}
	50% {transform: scale(1.15);}
	100% {transform: scale(0.75);}
}


#builder {
	margin: auto;
	width: 400px;
	height: 540px;
	background-color: rgba(220, 220, 220, 0.8);
	color: black;
	display: flex;
	flex-direction: column;
	z-index: 3;
	box-shadow: 0 0 25px 3px rgb(20,20,20);
	border-radius: 3px;
}

	.builder-section {
		display: flex;
		width: 90%;
		margin: auto;
		flex-grow: 1;
	}

		.builder-section-title-container {
			display: flex;
			flex-grow: 1;
			width: 100%;
			height: 2em;
		}

			.builder-section-title-container div {
				font-size: 24pt;
				margin: auto;
				text-align: center;
			}

	#builder-size-section {
		flex-direction: column;
		margin-bottom: 10px;
	}

		#builder-size-section > * {
			font-size: 14pt;
			margin: auto;
			display: flex;
		}

		#builder-size-section #builder-size-title {
			height: 2em;
			width: 100%;
			flex-grow: 1;
		}

		#builder-size-section #builder-size-button-container {				
			width: 100%;
			display: flex;
			flex-direction: row;
		}

			#builder-size-button-container > .builder-size-button {
				margin: auto;
				width: 100px;
				height: 100px;
				display: flex;
				background-color: rgba(255, 255, 255, 0.1);
				border: 1px gray solid;
				color: black;
				border-radius: 15px;
				cursor: pointer;
			}
			#builder-size-button-container > .builder-size-button.open {
				background-color: rgba(103, 111, 123, 0.8);
				color: white;
				box-shadow: 0 0 25px -1px white;
			}

				#builder-size-button-container > .builder-size-button div {
					margin: auto;
					font-size: 28px;
				}

		


	#builder-player-section {
		/* padding: 2em 0 3em; */
		flex-direction: column;
	}

		#builder-player-section #builder-player-title-container {
			margin: auto;
			font-size: 16pt;
		}

		#builder-player-section #builder-input-container {
			width: 100%;
			display: flex;
			flex-direction: column;
			margin: auto;
		}

			#builder-player-section input {
				height: 3em;
				margin: 5px auto;
				padding: 0 5px;
				width: calc(100% - 15px);
			}


	#builder-save-section {
		flex-direction: row;
	}

		#builder-save-button {
			background-color: darkred;
			color: white;
			height: 48px;
			width: 150px;
			margin: auto;
			display: flex;
			border-radius: 8px;
			cursor: pointer;
		}

			#builder-save {
				margin: auto;
				font-size: 22px;
			}



/* Small screen desktop view */

@media screen and (max-width: 1080px) {

	#board-container, #builder-container {
		width: 80% !important;
	}

	#topbar {
		height: 130px;
	}

	#topbar #topbar-left {
		padding: 0 3%;
	}

	#topbar #topbar-left #topbar-left-inner {
		font-size: 32px;
		font-family: "Myriad Pro Semibold";
	}

	#topbar #topbar-right {
		padding: 10px 4%;
	}

	#topbar-right .row {
		font-size: 24px;
	}

    .board-cell {
        height: 7.53vw !important;
	}

}


/*  MOBILE VIEW */

@media screen and (max-width: 1440px) and (min-width: 1081px) and (min-height: 2560px) {
	
	#board-container {
		transform: scale(1.3);
	}

	#board-container, #builder-container {
		width: 80% !important;
	}

	#builder {
		transform: scale(2.5);
	}

	.theboard {
		transform: scale(1.1);
	}

	#topbar {
		height: 160px;
	}

	#topbar #topbar-left {
		padding: 0 4%;
	}

	#topbar #topbar-left #topbar-left-inner {
		font-size: 44px;
		font-family: "Myriad Pro Semibold";
	}

	#topbar #topbar-right {
		padding: 10px 4%;
	}

	#topbar-right .row {
		font-size: 40px;
	}

    .board-cell {
        height: 7.4vw !important;
	}

}


@media screen and (min-width: 721px) and (max-width: 1080px) and (min-height: 1920px) {
		
	#board-container, #builder-container {
		width: 90% !important;
	}

	#builder {
		transform: scale(2);
	}

	.theboard {
		transform: scale(1.12);
	}

	#topbar {
		height: 150px;
	}

	#topbar #topbar-left {
		padding: 0 4%;
	}

	#topbar #topbar-left #topbar-left-inner {
		font-size: 44px;
		font-family: "Myriad Pro Semibold";
	}

	#topbar #topbar-right {
		padding: 10px 4%;
	}

	#topbar-right .row {
		font-size: 36px;
	}

    .board-cell {
        height: 9.64vw !important;
	}

}


@media screen and (max-width: 720px) and (min-height: 1280px) {
		
	#board-container, #builder-container {
		width: 90% !important;
	}

	#builder {
		transform: scale(1.5);
	}

	.theboard {
		transform: scale(1.12);
	}

	#topbar {
		height: 120px;
		margin-bottom: 90px;
	}

	#topbar #topbar-left {
		padding: 0 4%;
	}

	#topbar #topbar-left #topbar-left-inner {
		font-size: 40px;
		font-family: "Myriad Pro Semibold";
	}

	#topbar #topbar-right {
		padding: 10px 4%;
	}

	#topbar-right .row {
		font-size: 36px;
	}
	
	#bottombar {
		height: 100px;
	}

    .board-cell {
        height: 9.64vw !important;
	}

}


/* General */
.displaynone {
	display: none !important;
}
